<link rel="stylesheet" href="static/dna/dna.css">
<div>
	<div class="title">{{dna.name}}</div>
	<div>{{dna.desc}}</div>

	<div data-ng-repeat="f in dna.features | orderBy: f.start"
		class="component SO{{f.typ.replace('http://purl.obolibrary.org/obo/SO_', '')}}"
		data-ng-init="setFeature({args: {ft: dna}})"
		data-ng-mouseover="setFeature({args: {ft: f}})"
		data-ng-mouseleave="setFeature({args: {ft: dna}})">
	</div>
	
	<table class="table table-condensed table-striped">
		<tbody>
			<tr>
				<td>Name</td>
				<td>{{feature().name ? feature().name : ''}}</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>{{feature().desc ? feature().desc : ''}}</td>
			</tr>
			<tr>
				<td>Start</td>
				<td>{{feature().start ? feature().start : ''}}</td>
			</tr>
			<tr>
				<td>End</td>
				<td>{{feature().end ? feature().end : ''}}</td>
			</tr>
			<tr>
				<td>Strand</td>
				<td>{{feature().forward ? '+' : '-'}}</td>
			</tr>
			<tr>
				<td>Sequence</td>
				<td class="seq">{{(feature().seq ? feature().seq :
					dna.seq.substring(feature().start - 1, feature().end)) | uppercase }}</td>
			</tr>
			<tr data-ng-repeat="(key, value) in feature().parameters">
				<td>{{key}}</td>
				<td>{{value}}</td>
			</tr>
			<tr data-ng-show="feature().links && feature().links.length">
				<td>Links</td>
				<td>
					<div data-ng-repeat="link in feature().links">
						<a data-ng-href="{{link}}" target="_blank">{{link}}</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>