#drop_sources, #drop_targets {
	clear: left;
}

#drop_sources div, #drop_targets div {
	float: left;
	width: 50px;
	height: 100px;
}

#drop_sources div.ui-draggable-dragging {
	box-shadow: 0 0 .25em rgba(0, 0, 0, .5);
}


#drop_targets div {
	background: #f5f5f5;
}

#drop_targets div.hovered {
	background: #e8e8e8;
}

.ribosome-entry-site {
	background-image: url("sbolv/ribosome-entry-site.svg");
}

.cds {
	background-image: url("sbolv/cds.svg");
}

.user-defined {
	background-image: url("sbolv/user-defined.svg");
}