<!-- Submission form -->
<div class="col-md-6">
	<div class="panel panel-default">
  		<div class="panel-heading">
	  		Query
			<button type="submit" data-ng-click="ctrl.submit()" data-ng-disabled="form.$invalid" class="pull-right btn btn-default btn-xs">Submit</button>
		</div>
  		<div class="result-panel panel-body">
			<form class="form-horizontal" role="form" name="form">
				<div class="form-group">
					<label class="col-xs-4 col-form-label">5' sequence:</label>
					<div class="col-xs-8">
						<input type="text" class="form-control uppercase"
							data-ng-model="ctrl.query.prefix"
							placeholder="Enter 5' sequence">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 col-form-label">Protein name:</label>
					<div class="col-xs-8">
						<input type="text" class="form-control"
							data-ng-model="ctrl.query.protein_names"
							placeholder="Enter protein name" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 col-form-label">Protein:</label>
					<div class="col-xs-8">
						<input type="text" class="form-control"
							data-ng-model="ctrl.query.protein_ids"
							placeholder="Enter protein (Uniprot id or sequence)" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 col-form-label">3' sequence:</label>
					<div class="col-xs-8">
						<input type="text" class="form-control uppercase"
							data-ng-model="ctrl.query.suffix"
							placeholder="Enter 3' sequence">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 col-form-label">RBS length:</label>
					<div class="col-xs-8">
						<input type="number" class="form-control"
							data-ng-model="ctrl.query.len_target"
							min="35" max="10000"
							placeholder="Enter RBS length" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 col-form-label">RBS TIR:</label>
					<div class="col-xs-8">
						<input type="number" class="form-control"
							data-ng-model="ctrl.query.tir_target"
							min="0" max="200000" step="100"
							placeholder="Enter target RBS translation initiation rate" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 col-form-label">Organism:</label>
					<div class="col-xs-8">
						<div data-ng-controller="typeaheadCtrl as typeahead_ctrl">
							<input type="text" class="form-control"
								data-ng-init="typeahead_ctrl.url='/organisms/'"
								data-ng-model="ctrl.query.organism"
								placeholder="Select host organism"
								required
								autocomplete="off"
								uib-typeahead="organism as organism.name for organism in typeahead_ctrl.getItem($viewValue)"
								typeahead-min-length="3"
								typeahead-editable="false">  
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 col-form-label">Max repeating nucleotides:</label>
					<div class="col-xs-8">
						<input type="number" class="form-control"
							data-ng-model="ctrl.query.max_repeats"
							min="5" max="1000000" step="1"
							placeholder="Enter maximum repeating nucleotides" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 col-form-label">Excluded codons:</label>
					<div class="col-xs-8">
						<input type="text" class="form-control uppercase"
							data-ng-model="ctrl.query.excl_codons"
							data-ng-pattern="ctrl.query.excl_codons_regex"
							placeholder="Enter excluded codons">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 col-form-label">Excluded restriction sites:</label>
					<div class="col-xs-8">
						<select
							data-ng-model="ctrl.query.restr_enzs"
							data-ng-options="restr_enz as restr_enz.name for restr_enz in ctrl.restr_enzs() | orderBy:'name'"
							data-ng-multiple="true"
							multiple
							class="form-control">
						</select>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Results panel -->
<div class="col-md-6" data-ng-controller="resultCtrl as result_ctrl" data-ng-show="result_ctrl.results()">
	<result-panel
		results="result_ctrl.results()"
		result="result_ctrl.result()"
		sbol="result_ctrl.sbol()"
		save-results="result_ctrl.saveResults()"
		ice="result_ctrl.ice">
	</result-panel>
</div>