.uppercase
{
	text-transform:uppercase;
}

.horizontal-cell
{
	display: table-cell;
}

input.ng-invalid
{ 
	border: 1px red solid;
}

.disabled
{
	cursor: not-allowed;
	color: grey;
}

.tt-menu
{
	background-color: #fff;
 	border: 1px solid #addbfc;
}

.tt-suggestion
{
	padding: 0px 5px;
}

.tt-suggestion.tt-cursor
{
	background-color: #addbfc;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu
{
	width: 100%;
}