.uppercase
{
	text-transform: uppercase;
}

.file-button
{
	margin-top: 5px;
	display: none;
}

.aligned-checkbox
{
	margin: 0px;
	height: 20px;
}

input.ng-invalid
{ 
	border: 1px red solid;
}

.tt-menu
{
	background-color: #fff;
 	border: 1px solid #addbfc;
}

.tt-suggestion
{
	padding: 0px 5px;
}

.tt-suggestion.tt-cursor
{
	background-color: #addbfc;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu
{
	width: 100%;
}