<!doctype html>
<head>
	<title>PathwayGenie</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script	src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>
	<script src="https://www.google.com/jsapi"></script>
	<script src="{{ url_for('static', filename='utils.js') }}"></script>
	<script>
		$(document).ready(function()
		{
			var jobId;
			
			$("#result-panel").hide();
			
			$('#excl_codons').keypress(function(event)
			{
			    var regex = new RegExp("^[ACGTacgt(,\\s)]+$");
			    var str = String.fromCharCode(!event.charCode ? event.which : event.charCode);
			    
			    if(regex.test(str))
			    {
			        return true;
			    }

			    event.preventDefault();
			    return false;
			});
			
			$("#form").submit(function()
			{
				event.preventDefault();
				
				$.ajax(
				{
				    type: "POST",
				    url: "/submit",
				    data: getJSON($(this)),
				    contentType: "application/json; charset=utf-8",
				    dataType: "json",
				    success: listen,
				    error: function(xhr, status, error)
				    {
				    	$("#error-modal-content").html(xhr.responseText);
				    	$("#error-modal").modal("show");
					}
				});
			});
			
			$(".progress-cancel").click(function(event)
			{
				$.get("/cancel/" + jobId);
			});
	
			function listen(response)
			{
				jobId = response.job_id;
				drawCharts([0, 0, 0, 0], 1000)
				$("#progress-ok").attr("disabled", true);
				$(".progress-cancel").attr("disabled", false);
				$("#progress-message").hide();
				$("#progress-message").removeClass("alert-success");
				$("#progress-message").removeClass("alert-danger");
				$("#progress-modal").modal("show");
				$("#result-panel").hide()
	
				var source = new EventSource("/progress/" + jobId);
	
				source.onmessage = function(event)
				{
					json = JSON.parse(event.data);
					
					$("#progress-bar").css("width", json.progress + "%").attr("aria-valuenow", json.progress);
					
					if(json.iteration && json.max_iter)
					{
						$("#progress-text").text(json.iteration + " / " + json.max_iter);
					}
					else
					{
						$("#progress-text").text("");
					}
					
					if(json.query && json.update)
					{
						drawCharts([Math.round(json.update.mean_cai * 100) / 100,
						            Math.round(json.update.mean_tir * 10) / 10,
						            json.update.invalid_seqs,
						            json.update.start_codon_seqs],
						            json.query.tir_target)
					}
					
					if(json.message)
					{
						$("#progress-message").show();
						$("#progress-message").text(json.message);
					}
					else
					{
						$("#progress-message").hide();
					}
					
					if(json.status == "cancelled" || json.status == "error" || json.status == "finished")
					{
						source.close()
						$("#progress-ok").attr("disabled", false);
						$(".progress-cancel").attr("disabled", true);
					}
					
					if(json.status == "error")
					{
						$("#progress-message").addClass("alert-danger");
					}
					else if(json.status == "finished")
					{
						$("#progress-message").addClass("alert-success");
						
						if(json.result)
						{
							$("#result").html("<pre>" + JSON.stringify(json, null, ' ') + "</pre>")
							$("#result-panel").show();
						}
					}
				}
			}
			
			var organisms = new Bloodhound(
			{
				datumTokenizer: function (datum)
				{
			        return Bloodhound.tokenizers.whitespace(datum.value);
			    },
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote:
			    {
			    	url: '/organisms/%QUERY',
					wildcard: '%QUERY',
			    }
			});
			
			// Initialize the Bloodhound suggestion engine:
			organisms.initialize();

			$('#organism').typeahead(null,
			{
				name: 'organism',
				display: 'name',
				source: organisms.ttAdapter()
			});
		});

		google.load("visualization", "1", {packages: ["gauge"]});
		
		function drawCharts(values, jobTirTarget)
		{
			drawChart("cai-gauge", "CAI", values[0], 1, 0, 0);
			drawChart("tir-gauge", "TIR", values[1], jobTirTarget * 1.2,
					jobTirTarget * 0.9, jobTirTarget * 1.1);
			drawChart("invalid-gauge", "Invalid seqs", values[2], 100, 0, 0);
			drawChart("start-codon-gauge", "Start codons", values[3], 100, 0, 0);
		}
		
		function drawChart(element_id, title, value, max, greenFrom, greenTo)
		{
			var data = google.visualization.arrayToDataTable([["Label", "Value"],
			                                                  [title, value]]);                                     	
	   		var options = {
	   			width: 400,
	   			height: 120,
	   			minorTicks: 5,
	   			max: max,
	   			greenFrom: greenFrom,
	   			greenTo: greenTo
	   		};
	   	
	   		var chart = new google.visualization.Gauge(document.getElementById(element_id));
	   		chart.draw(data, options);
		}
	</script>
</head>
<body>
	<!-- Navigation bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="http://www.synbiochem.co.uk">
					<span><img alt="Brand" src="{{ url_for('static', filename='favicon.ico') }}"></span>
					PathwayGenie
				</a>
			</div>
		</div>
	</nav>

	<!-- Submission form -->
	<div class="container">
		<form id="form" class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label col-sm-2" for="organism">Organism:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="organism"
						name="organism" placeholder="Enter organism">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="protein_ids">Protein ids:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"
						id="protein_ids" name="protein_ids"
						pattern="((\s*)([OPQ][0-9][A-Z0-9]{3}[0-9]|[A-NR-Z][0-9]([A-Z][A-Z0-9]{2}[0-9]){1,2})(\s*))*"
						placeholder="Enter protein ids" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="len_target">Target length:</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="len_target"
						name="len_target" value="60" min="35" max="10000"
						placeholder="Enter target length" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="tir_target">Target TIR:</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="tir_target"
						name="tir_target" value="15000" min="0" max="200000" step="100"
						placeholder="Enter target TIR" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="max_repeats">Max repeating nucleotides:</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="max_repeats"
						name="max_repeats" value="6" min="6" max="1e6" step="1"
						placeholder="Enter maximum repeating nucleotides" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="excl_codons">Excluded codons:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" style="text-transform:uppercase"
						id="excl_codons" name="excl_codons" pattern="((\s*)([ACGT]{3})(\s*))*"
						placeholder="Enter excluded codons">
				</div>
				<span class="glyphicon form-control-feedback" id="excl_codons_glyph"></span>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
	</div>
	
	<!-- Progress modal -->
	<div id="progress-modal" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close progress-cancel"
						data-dismiss="modal">&times;</button>
					<h4 class="modal-title">PathwayGenie dashboard</h4>
				</div>
				<div class="modal-body">
					<div id="progress-message" class="alert"></div>
					<div class="centered">
						<div id="cai-gauge" class="progress-gauge"></div>
						<div id="tir-gauge" class="progress-gauge"></div>
						<div id="invalid-gauge" class="progress-gauge"></div>
						<div id="start-codon-gauge" class="progress-gauge"></div>
					</div>
					<div class="progress">
						<div class="progress-bar" id="progress-bar" role="progressbar"
							aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
							style="width: 0%">
							<span id="progress-text"></span>	
						</div>
					</div>
				</div>
				<div class="modal-footer">
				 	<button type="button" class="btn btn-default progress-cancel"
				 		data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="progress-ok"
						data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Temporary results panel. -->
	<div class="container">
		<div id="result-panel" class="panel panel-default">
	  		<div class="panel-heading">Result</div>
	  		<div id="result" class="panel-body"></div>
		</div>
	</div>
	
	<!-- Modal -->
	<div id="error-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal">&times;</button>
		        	<h4 class="modal-title">Error</h4>
		      	</div>
		      	<div class="modal-body">
		      		<div id="error-modal-content"></div>
		     	</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>