<!doctype html>
<head>
<title>PathwayGenie</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://www.google.com/jsapi"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="http://www.synbiochem.co.uk"> <span><img
						alt="Brand"
						src="{{ url_for('static', filename='favicon.ico') }}"></span>
					PathwayGenie
				</a>
			</div>
		</div>
	</nav>
	{% block body %}{% endblock %}
</body>